<!DOCTYPE html>
<html>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<div id="<%= dom_id movie %>">
<body>
<table>
  <p>
   <tr>
    <th><strong>Title:</strong></th>
    <th><strong>Rating:</strong></th>
    <th><strong>Release date:</strong></th>
    <th><strong>Description:</strong></th>
   </tr>
  </p>
   <tr>
	<td><%= movie.title %></td>
    <td><%= movie.rating %></td>
    <td><%= movie.description %></td>
    <td><%= movie.release_date %></td>
   </tr>
  </p>
</table>
</body>
</div>
</html>