<style>
table, th, td {
    border: 1px solid black;
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 8px;
  text-align: left;
}

</style>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
<table>
  <thead>
   <tr>
    <th style="<%= sorting_color('title') %>">
      <strong>Title</strong>
      <%= link_to 'Sort', movies_path(sort_by: 'title', order: params[:order] == 'ASC' ? 'DESC' : 'ASC') %>
      <%= sorting_icon('title') %>
    </th> 
    <th style="<%= sorting_color('rating') %>">
      <strong>Rating</strong>
      <%= link_to 'Sort', movies_path(sort_by: 'rating', order: params[:order] == 'ASC' ? 'DESC' : 'ASC') %>
      <%= sorting_icon('rating') %>
    </th>
    <th style="<%= sorting_color('release_date') %>">
      <strong>Release date</strong>
      <%= link_to 'Sort', movies_path(sort_by: 'release_date', order: params[:order] == 'ASC' ? 'DESC' : 'ASC') %>
      <%= sorting_icon('release_date') %>
    </th>
   </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </tbody>
</table>
</div>


<%= link_to "New movie", new_movie_path %>