<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rottenpotatoes" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <%= link_to 'Sort by Title', movies_path(sort_by: 'title', order: params[:order] == 'ASC' ? 'DESC' : 'ASC') %>
    <%= link_to 'Rating', movies_path(sort_by: 'rating', order: params[:order] == 'ASC' ? 'DESC' : 'ASC') %>
    <%= link_to 'Release Date', movies_path(sort_by: 'release_date', order: params[:order] == 'ASC' ? 'DESC' : 'ASC') %>
  </footer>
</html>